.grid-container {
  display: inline-grid;
  grid-template-columns: 50px 50px 50px;
  grid-template-rows: 50px 50px 50px;
  border: 1px solid black;
  grid-gap: 1px;
  background-color: black;
}

.grid-container > div {
  background-color: white;
  padding: 15px;
  text-align: center;
}
.button1 {
  background-color: #4caf50; /* Green */
  color: white;
  padding: 10px 16px;
  text-align: center;
  text-decoration: none;
  /* display: inline-block; */
  font-size: 16px;
}
/* .button1:hover {
  background-color: #3e8e41;
} */

.button2 {
  background-color: #614caf; /* Green */
  color: white;
  padding: 10px 16px;
  text-align: center;
  text-decoration: none;
  /* display: inline-block; */
  font-size: 16px;
}
/* .button2:hover {
  background-color: #3e8e41;
} */
